@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');



.barra-vertical {
    position: absolute;
    top: 0;
    width: 4px;
    height: 100%;
    background: white;
    z-index: 2;
}
.barra-vertical.esquerda {
    left: 0;
}
.barra-vertical.direita {
    right: 0;
}
.caixa-principal {
    position: relative;
}

.centralizar-botoes {
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    width: 100%;
}
.fora-cima, .fora-baixo, .barra-vertical {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #AE171C,#64191B,#1A1A1A); 
    background-attachment: fixed;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
}

.caixa-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
}

.barra-logo {
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha-divisoria {
    width: 100%;
    height: 1px;
    background-color: white;
}

.conteudo-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.rato-bandeira {
    max-width: 70px;
    width: 100%;
    height: auto;
    margin-right: 20px;
}

.logoTexto {
    max-width: 32vw;
    min-width: 180px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}



.caixa-botoes {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    max-width: 800px;
}


.caixa-preta {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    border: 4px solid rgba(255,255,255,0.7);
    border-radius: 20px;
    box-shadow: 0 0 0 6px #000;
    padding-bottom: 180px;
    box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 550px;
}

.centralizar-botoes {
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    width: 100%;
    gap: 32px;
    margin-top: 32px;
} 


.botaoADM1,
.botaoADM2,
.botaoLOGGOUT {
    width: 130px;
    height: 130px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #C0C0C0;
    border-radius: 15px; 
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px; 
}

.botaoADM1:hover {
    background-color: rgba(34, 197, 94, 0.9); 
    transform: scale(1.05);
}

.botaoADM2:hover {
    background-color: rgba(234, 179, 8, 0.9); 
    transform: scale(1.05);
}

.botaoLOGGOUT:hover {
    background-color: rgba(239, 68, 68, 0.9); 
    transform: scale(1.05);
}



.botaoADM1 img,
.botao-motor,
.botao-garagem,
.botao-sair {
    width: 130px;
    height: 130px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #C0C0C0;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.botao-motor:hover {
    background-color: rgba(34, 197, 94, 0.9);
    transform: scale(1.05);
}
.botao-garagem:hover {
    background-color: rgba(234, 179, 8, 0.9);
    transform: scale(1.05);
}
.botao-sair:hover {
    background-color: rgba(239, 68, 68, 0.9);
    transform: scale(1.05);
}
.botao-motor img,
.botao-garagem img,
.botao-sair img {
    max-width: 60px;
    max-height: 60px;
    width: 60px;
    height: 60px;
    margin: 0 auto 8px auto;
    display: block;
    object-fit: contain;
}
.botao-motor span,
.botao-garagem span,
.botao-sair span {
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #3D3D3D;
}


@media (max-width: 900px) {
    .caixa-botoes {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .caixa-preta {
        border-radius: 0 0 10px 10px;
        padding-bottom: 20px;
    }
    .botao-motor,
    .botao-garagem,
    .botao-sair {
        width: 90%px;
        height: 100px;
        padding: 10px;
    }
    .botao-motor img,
    .botao-garagem img,
    .botao-sair img {
        max-width: 60px;
        max-height: 60px;
    }
    .botao-motor span,
    .botao-garagem span,
    .botao-sair span {
        font-size: 14px;
    }
}

@media (max-width: 900px) {
    .logoTexto {
        max-width: 60vw;
        min-width: 120px;
    }
}
