@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

:root {
  --color-text: #000000; 
  --color-primary-bg: #d3d3d3; 
  --color-secondary-bg-top: #d3d3d3; 
  --color-secondary-bg-bottom: #a9a9a9; 
  --color-border: #333333;
}

/* cores */

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}



body {
    background-color: #f5f5f5; 
    
    color: var(--color-text);
}



#footer_container {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}



#primary_footer {
    background-color: var(--color-primary-bg);
    color: var(--color-text);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 1rem 3.5rem;
    border-top: 1px solid var(--color-border);
}




#footer_social_media, #footer_code_jr {
    text-align: center;
}



#footer_container{
  position: static;
  bottom: auto;

}


#footer_code_jr h4 {
    font-family: 'Urbanist', sans-serif;
    margin-bottom: 1rem;
}



.social-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}



.social-icons .footer-link i {
    font-size: 1.5rem;
    color: var(--color-text);
}



#footer_logo {
    text-align: center;
}



#footer_logo img {
    max-width: 150px;
}

#footer_code_jr img {
    max-width: 50px;
}


/* cor de fundo do footer, degrade e pa */
#secondary_footer {
    position: relative;
    background: linear-gradient(to bottom, var(--color-secondary-bg-top), var(--color-secondary-bg-bottom));
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
}



/* Barra que separa a footer primaria da secundária */
#secondary_footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%; 
    height: 3px; 
    background-color: #000000; 
}



/* Efeito de hover para desktop */
@media (min-width: 769px) {
  #footer_container:hover #secondary_footer {
      max-height: 500px; 
      opacity: 1;
  }
}

#footer_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}


.footer-list {
  list-style: none;
  padding-left: 0;
}


.footer-list h3 {
  margin-bottom: 0.75rem;
  font-weight: bold;
}



.footer-list a {
  text-decoration: none;
  color: var(--color-text);
  margin-bottom: 0.5rem;
  display: block;
  font-weight: normal;
}


#footer_bottom {
  padding: 1rem 3.5rem;
}


#footer_bottom p {
    margin: 0;
}





/* Centraliza o texto apenas nas colunas de Visão, Missão e Valores */
#footer_content .footer-list:nth-child(2),
#footer_content .footer-list:nth-child(3),
#footer_content .footer-list:nth-child(4),
.footer-list {
    text-align: center;
}



#footer_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
    column-gap: 2.5rem; 
}


#footer_content .footer-list li {
    line-height: 1.6; 
}








/* Responsividade (S.0.S) */

/* Media query pra se a tela tiver no maximo .. */
@media (max-width: 768px) {
  #primary_footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #footer_logo {
    order: 1;
  }

  #footer_social_media {
    order: 2;
  }

  #footer_code_jr {
    order: 3;
  }

  #footer_content {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }

  #footer_bottom {
    text-align: center;
  }

  #footer_social_media, #footer_code_jr {
    display: none;
  }


  #footer_container.open #footer_social_media,
  #footer_container.open #footer_code_jr {
    display: block;
  }

  #footer_container.open #secondary_footer {
    max-height: 500px; 
    opacity: 1;
      overflow-y: auto;
      height: 60vh;
  }
}



