#modalCriarPost .container{
    display: flex;
    max-width: 633px;
    width: 100%;
    height: 633px;
    margin: auto;
    background-color: #1A1A1A;
    border-radius: 15px;
    box-shadow:3px 3px 3px #AE171C;
}

#modalCriarPost #imgPost{
    width: 250px;
    height: 200px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0;
    border: 2px solid #AE171C;
    border-radius: 10px;
    overflow: hidden;
}

#modalCriarPost #imgPost img {
    border: none;
    outline: none;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#modalCriarPost h2{
    color: #FFFF;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 0;
}

#modalCriarPost .info-caixa {
    background-color: #1A1A1A;
    border: 2px solid #AE171C;
    border-radius: 5px;
    color: #FFFF;
    width: 320px;
    height: 40px;
    padding: 8px 10px;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

#modalCriarPost .campo-editavel, #modalCriarPost #descricao-editavel {
    background-color: #1A1A1A;
    border: 2px solid #AE171C;
    border-radius: 5px;
    color: #FFFF;
    width: 320px;
    padding: 8px 10px;
    font-family: "Oswald", sans-serif;
    font-size: 14px; 
}

#modalCriarPost .campo-editavel {
    height: 40px;
}

#modalCriarPost #descricao-editavel {
    height: 270px;
    resize: none;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#modalCriarPost #descricao-editavel::-webkit-scrollbar {
    display: none;
}

#modalCriarPost .campo-editavel:focus, #modalCriarPost #descricao-editavel:focus {
    outline: none;
}


#modalCriarPost .buttons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 320px;
    margin-left: 5px;
    margin-top: 13px;
}

#modalCriarPost #btn-cancelar{
    width: 100px;
    height: 40px;
    background-color: #363636;
    color: #FFFF;
    border: #363636;
    border-radius: 20px;
    box-shadow:3px 3px 3px #AE171C;
}

#modalCriarPost #btn-salvar{
    width: 100px;
    height: 40px;
    background-color: #AE171C;
    color: #FFFF;
    border: #AE171C;
    border-radius: 20px;
    box-shadow:3px 3px 3px #363636;
}

#modalCriarPost #btn-cancelar:hover{
    cursor: pointer;
    background-color: #c0c0c0;
    box-shadow:3px 3px 3px #AE171C;
}
#modalCriarPost #btn-salvar:hover{
    cursor: pointer;
    background-color: #c0c0c0;
    box-shadow:3px 3px 3px #363636;
}

#modalCriarPost.modal-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}

#modalCriarPost p{
    color: white;
}

#modalCriarPost #dataPost{
    font-family: "Oswald", sans-serif;;
    font-weight: lighter;
    margin: 0;
    width: 320px; 
    margin-left: 5px;
    text-align: right;
    margin-top: 10px;
}

#modalCriarPost #idPost{
    font-family: "Oswald", sans-serif;
    font-weight: lighter;
    width: 250px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
}

@media (max-width: 700px){
    
    #modalCriarPost .container{
        flex-direction: column;
        height: auto;
        overflow: auto;
    }

    #modalCriarPost .info-post{
        margin-top: 20px;
    }

    #modalCriarPost.modal-overlay{
        padding: 20px !important; 
    }

    #modalCriarPost .ladoEsquerdo, #modalCriarPost .ladoDireito{
        width: 100%;
    }

    #modalCriarPost #img-rato{
        display: none;
    }

    #modalCriarPost .info-autor-caixa{
        width: 90%;
        margin: 0px 20px;
    }

    #modalCriarPost .inputs{
        width: 90%;
        margin: 0px 20px;
    }

    #modalCriarPost .texto-infos{
        margin-left: 20px;
    }

    #modalCriarPost .buttons{
        width: 100%;
        justify-content: center;
    }

    #modalCriarPost #imgPost{
        margin-left: auto;
        margin-right: auto;
    }

    #modalCriarPost #idPost{
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    #modalCriarPost #descricao-editavel{
        height: 200px;
        margin: 0px 20px;
    }

    #modalCriarPost .campo-editavel{
        margin: 0px 20px;
    }

    #modalCriarPost .info-caixa{
        margin: 0px 20px;
    }

    #modalCriarPost .textos-info-criar{
        margin-left: 20px;
    }

    #modalCriarPost #dataPost{
        margin-top: 0;
        width: 100%;
        justify-content: center;
    }
}

#modalCriarPost.hidden{
    display: none;
}