
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    max-width: 633px;
    width: 100%;
    height: auto;
    margin: auto;
    background-color: #1A1A1A;
    border-radius: 15px;
    box-shadow:3px 3px 3px #AE171C;
}

.imgPost{
    width: 250px;
    height: 200px;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0;
    border: 1px solid #AE171C;
    border-radius: 10px;
    overflow: hidden;
}

.imgPost img {
    border: none;
    outline: none;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2{
    color: #FFFF;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    margin-top: 15px;
    font-size: medium;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 0;
}

.nomeFotoPerfil{
    color: #FFFF;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    margin-top: 15px;
    font-size: medium;
    margin-left: 25px;
    margin-right: 0;
}

.ladoEsquesto {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#imgUser {
    position: relative;
    width: 250px;
    height: 200px;
    margin-top: 0px;
    /* Valores originais mantidos, que estavam fora da centralização: */
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 0;
    border: 2px solid #AE171C;
    border-radius: 10px;
    overflow: hidden;
}

#imgUser img {
    border: none;
    outline: none;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#modalCriarUser #imgUser{
    position: relative;
    width: 250px;
    height: 200px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    border: 2px solid #AE171C;
    border-radius: 10px;
    overflow: hidden;
}

#labelCriarUser {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#labelCriarUser span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 15;
    transition: opacity 0.3s ease;
}

#labelCriarUser span i {
    color: white;
    font-size: 20px;
}

#imgUser:hover #labelCriarUser span {
    opacity: 1;
}

#imagemPadraoCriar, #previewCriar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

#previewCriar {
    z-index: 2;
}

#imagemPadraoCriar {
    z-index: 1;
}

#imgUser img {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#img-do-user{
    display: none;
}


.inputs{
    background-color: #1A1A1A;
    border: 1px solid #AE171C;
    border-radius: 5px;
    color: #FFFF;
    width: 320px;
    height: 40px;
    resize: none;
    padding: 8px 10px;
}

.inputs:focus{
    border: 2px solid #AE171C;
    outline: none;
}


.inputDesc::-webkit-scrollbar{
    display: none;
}


.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 315px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-cancelar{
    width: 100px;
    height: 40px;
    background-color: #363636;
    color: #FFFF;
    border: #363636;
    border-radius: 20px;
    box-shadow:3px 3px 3px #AE171C;
}

.btn-salvar{
    width: 100px;
    height: 40px;
    background-color: #AE171C;
    color: #FFFF;
    border: #AE171C;
    border-radius: 20px;
    box-shadow:3px 3px 3px #363636;
}

.btn-cancelar:hover{
    cursor: pointer;
    background-color: #c0c0c0;
    box-shadow:3px 3px 3px #AE171C;
}

.btn-salvar:hover{
    cursor: pointer;
    background-color: #c0c0c0;
    box-shadow:3px 3px 3px #363636;
}

.modal-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}


.info-post{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
}

.info-post i{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 7px;
}

.info-post i::before{
    color: black;
    font-size: 25px;
}

#profilePicture{
    display: none;
}

.profilePicLabel{
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.img-rato{
    margin-left: 90px;
    margin-top: 10px;
    width: 110px;
}

p{
    color: white;
}

.input-senha {
    position: relative;
    display: flex;
    align-items: center;
}


.toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #C0C0C0;
    cursor: pointer;
    font-size: 18px;
}

.toggle-password:hover {
    color: #ED1C24;
}

.dataPost{
    display: flex;
    font-family: "Oswald", sans-serif;;
    font-weight: lighter;
    margin: 0;
    justify-content: end;
}

.idPost{
    font-family: "Oswald", sans-serif;
    font-weight: lighter;
    width: 250px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
}

.fotoPerfil {
    width: fit-content;
}


@media (max-width: 700px){
    
    .container{
        flex-direction: column;
        height: auto;
        max-height: 90vh;
        overflow: auto;
    }

    .modal-overlay{
        padding: 0;
    }

    .nomeFotoPerfil{

        margin-right: 20px;
    }

    .ladoEsquerdo{

        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ladoEsquerdo, .ladoDireito{
        width: 100%;
        padding: 15px;
    }

    #img-rato{
        display: none;
    }

    .inputs{
        width: 100%;
    }

    .buttons{
        width: 100%;
        justify-content: center;
    }

    #imgPost{
        margin-left: auto;
        margin-right: auto;
    }
    

    #imgUser {
        margin-left: auto;
        margin-right: auto;
    }

    #idPost{
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
}

.hidden{
    display: none;
}