*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    max-width: 633px;
    width: 100%;
    height: 300px;
    margin: auto;
    background-color: #1A1A1A;
    border-radius: 15px;
    box-shadow:3px 3px 3px #AE171C;
}

#imgPost{
    width: 250px;
    height: 200px;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0;
    border: 1px solid #AE171C;
    border-radius: 10px;
    overflow: hidden;
}

#imgPost img {
    border: none;
    outline: none;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2{
    color: #FFFF;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    margin-top: 15px;
    font-size: medium;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 0;
}

.inputs{
    background-color: #1A1A1A;
    border: 1px solid #AE171C;
    border-radius: 5px;
    color: #FFFF;
    width: 320px;
    height: 40px;
    padding: 10px;
}

.inputs:focus{
    border: 1px solid #AE171C;
    outline: none;
}

.nomeFotoPerfil{

    color: #FFFF;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 25px;
    font-size: medium;
    margin-right: 0;

}

#inputDesc::-webkit-scrollbar{
    display: none;
}


.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 315px;
    margin-top: 50px;
}

#btn-cancelar{
    width: 100px;
    height: 40px;
    background-color: #363636;
    color: #FFFF;
    border: #363636;
    border-radius: 20px;
    box-shadow:3px 3px 3px #AE171C;
}

#btn-salvar{
    width: 100px;
    height: 40px;
    background-color: #AE171C;
    color: #FFFF;
    border: #AE171C;
    border-radius: 20px;
    box-shadow:3px 3px 3px #363636;
}

#btn-cancelar:hover{
    cursor: pointer;
    background-color: #c0c0c0;
    box-shadow:3px 3px 3px #AE171C;
}
#btn-salvar:hover{
    cursor: pointer;
    background-color: #c0c0c0;
    box-shadow:3px 3px 3px #363636;
}

.modal-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1000;
    overflow-y: auto;
}

.info-post{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
}

.info-post i{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 7px;
}

.info-post i::before{
    color: black;
    font-size: 25px;
}



p{
    color: white;
}


@media (max-width: 700px){
    
    .container{
        flex-direction: column;
        height: auto;
        max-height: 90vh;
        overflow: auto;
    }

    .modal-overlay{
        padding: 0;
    }

    .ladoEsquesto, .ladoDireito{
        width: 100%;
        padding: 15px;
    }

    #img-rato{
        margin: 20px auto;
        display: block;
    }

    .inputs{
        width: 100%;
    }

    .buttons{
        width: 100%;
        justify-content: center;
    }

    #imgPost{
        margin-left: auto;
        margin-right: auto;
    }

    #idPost{
        margin-left: 0;
        width: 100%;
        text-align: center;
    }


}

.hidden{
    display: none;
}

.DataUser {

    padding: 15px;
    padding-left: 20px;

}

