*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    max-width: 633px;
    width: 100%;
    height: 633px;
    margin: auto;
    background-color: #1A1A1A;
    border-radius: 15px;
    box-shadow:3px 3px 3px #AE171C;
}

h2{
    color: #FFFF;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 0;
}

.inputs{
    background-color: #1A1A1A;
    border: 2px solid #AE171C;
    border-radius: 5px;
    color: #FFFF;
    width: 320px;
    height: 40px;
}