#modalEditarPost .container{
    display: flex;
    max-width: 633px;
    width: 100%;
    height: 633px;
    margin: auto;
    background-color: #1A1A1A;
    border-radius: 15px;
    box-shadow:3px 3px 3px #AE171C;
}

#modalEditarPost #imgPost{
    width: 250px;
    height: 200px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0;
    border: 2px solid #AE171C;
    border-radius: 10px;
    overflow: hidden;
}

#modalEditarPost #imgPost img {
    border: none;
    outline: none;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#modalEditarPost h2{
    color: #FFFF;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 0;
}

#modalEditarPost .info-autor-caixa{
    background-color: #1A1A1A;
    border: 2px solid #AE171C;
    border-radius: 5px;
    color: #FFFF;
    width: 320px;
    height: 40px;
    font-size: 14px;
    padding: 8px 10px 8px 10px;
}

#modalEditarPost .inputs{
    background-color: #1A1A1A;
    border: 2px solid #AE171C;
    border-radius: 5px;
    color: #FFFF;
    width: 320px;
    height: 40px;
    font-size: 14px;
    padding: 8px 10px 8px 10px;
}

#modalEditarPost .inputs:focus{
    border: 2px solid #AE171C;
    outline: none;
}

#modalEditarPost #inputDesc{
    height: 270px;
    resize: none;
    padding: 8px 10px 8px 10px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#modalEditarPost #inputDesc::-webkit-scrollbar{
    display: none;
}


#modalEditarPost .buttons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 300px;
    margin-top: 50px;
}

#modalEditarPost #btn-cancelar{
    width: 100px;
    height: 40px;
    background-color: #363636;
    color: #FFFF;
    border: #363636;
    border-radius: 20px;
    box-shadow:3px 3px 3px #AE171C;
}

#modalEditarPost #btn-salvar{
    width: 100px;
    height: 40px;
    background-color: #AE171C;
    color: #FFFF;
    border: #AE171C;
    border-radius: 20px;
    box-shadow:3px 3px 3px #363636;
}

#modalEditarPost #btn-cancelar:hover{
    cursor: pointer;
    background-color: #c0c0c0;
    box-shadow:3px 3px 3px #AE171C;
}
#modalEditarPost #btn-salvar:hover{
    cursor: pointer;
    background-color: #c0c0c0;
    box-shadow:3px 3px 3px #363636;
}

#modalEditarPost.modal-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}

#modalEditarPost .info-post{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
}

#modalEditarPost .info-post i{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 7px;
}

#modalEditarPost .info-post i::before{
    color: black;
    font-size: 25px;
}

#modalEditarPost #img-rato{
    margin-left: 55px;
    margin-top: 60px;
    width: 170px;
}

#modalEditarPost p{
    color: white;
}

#modalEditarPost #dataPost{
    display: flex;
    font-family: "Oswald", sans-serif;;
    font-weight: lighter;
    margin: 0;
    justify-content: end;
}

#modalEditarPost #idPost{
    font-family: "Oswald", sans-serif;
    font-weight: lighter;
    width: 250px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
}

@media (max-width: 700px){
    
    #modalEditarPost .container{
        flex-direction: column;
        height: auto;
        overflow: auto;
    }

    #modalEditarPost .info-post{
        margin-top: 20px;
    }

    #modalEditarPost.modal-overlay{
        padding: 20px !important; 
    }

    #modalEditarPost .ladoEsquerdo, #modalEditarPost .ladoDireito{
        width: 100%;
    }

    #modalEditarPost #img-rato{
        display: none;
    }

    #modalEditarPost .info-autor-caixa{
        width: 90%;
        margin: 0px 20px;
    }

    #modalEditarPost .inputs{
        width: 90%;
        margin: 0px 20px;
    }

    #modalEditarPost .texto-infos{
        margin-left: 20px;
    }

    #modalEditarPost .buttons{
        width: 100%;
        justify-content: center;
    }

    #modalEditarPost #imgPost{
        margin-left: auto;
        margin-right: auto;
    }

    #modalEditarPost #idPost{
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    #modalEditarPost #inputDesc{
        height: 200px;
    }

    #modalEditarPost #dataPost{
        margin-top: 0;
        width: 100%;
        justify-content: center;
    }
}

#modalEditarPost.hidden{
    display: none;
}