.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    padding: 20px;
    box-sizing: border-box;
}

div[id^="modalExcluirPost"] .container {
    display: flex;
    width: 538px;
    height: 577px;
    background-color: #1f1f1f;
    border-radius: 16px;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    box-shadow: 3px 3px 3px #ae171c;
}

div[id^="modalExcluirPost"] .borda {
    display: flex;
    flex-direction: column;
    border: 5px solid #ae171c;
    margin: auto;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
}

div[id^="modalExcluirPost"] .caixa-texto {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #ae171c;
    width: 100%;
    height: 136px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div[id^="modalExcluirPost"] .caixa-texto h1 {
    color: #FFFFFF;
    font-size: 42px;
    margin: auto;
    padding: 0 15px;
}

div[id^="modalExcluirPost"] img {
    display: block;
    height: auto;
    width: 150px;
    margin: 20px auto;
}

div[id^="modalExcluirPost"] .botoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 10px;
    gap: 20px;
    width: 100%;
    padding-bottom: 30px;
}

div[id^="modalExcluirPost"] .botoes h1 {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    padding: 0 10px;
    box-sizing: border-box;
}

div[id^="modalExcluirPost"] .sim {
    background-color: #363636;
    border-radius: 16px;
    color: white;
    border: none;
    width: 133px;
    height: 65px;
    text-align: center;
    box-shadow: 3px 3px 3px #ae171c;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

div[id^="modalExcluirPost"] .sim:hover {
    background-color: #c0c0c0;
    box-shadow: 3px 3px 3px #ae171c;
    cursor: pointer;
}

div[id^="modalExcluirPost"] .sim h2 {
    color: #FFFFFF;
    margin: 0;
    font-size: 20px;
}

div[id^="modalExcluirPost"] .nao {
    background-color: #ae171c;
    border-radius: 16px;
    color: white;
    border: none;
    width: 133px;
    height: 65px;
    text-align: center;
    box-shadow: 3px 3px 3px #363636;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

div[id^="modalExcluirPost"] .nao:hover {
    background-color: #c0c0c0;
    box-shadow: 3px 3px 3px #ae171c;
    cursor: pointer;
}

div[id^="modalExcluirPost"] .nao h2 {
    color: #FFFFFF;
    margin: 0;
    font-size: 20px;
}



@media (max-width: 700px) {

    div[id^="modalExcluirPost"] .container {
        width: 100%;
        height: auto;
        padding: 0;
        max-width: 538px;
        max-height: 95vh;
        overflow-y: auto;
    }

    div[id^="modalExcluirPost"] .borda {
        border: none;
    }

    div[id^="modalExcluirPost"] .caixa-texto {
        height: auto;
        padding: 25px 15px;
    }

    div[id^="modalExcluirPost"] .caixa-texto h1 {
        font-size: 30px;
    }

    div[id^="modalExcluirPost"] img {
        width: 130px;
        margin: 25px auto;
    }

    div[id^="modalExcluirPost"] .botoes h1 {
        font-size: 18px;
    }

    div[id^="modalExcluirPost"] .sim,
    div[id^="modalExcluirPost"] .nao {
        width: 120px;
        height: 60px;
        margin: 0 10px;
        margin-bottom: 15px;
    }

    div[id^="modalExcluirPost"] .sim h2,
    div[id^="modalExcluirPost"] .nao h2 {
        font-size: 18px;
    }
}

.hidden{
    display: none;
}