body{
min-height: 100vh;
padding: 0;
margin: 0;
 font-family: "Bebas Neue", sans-serif;
 background: linear-gradient(135deg, #AE171C,#64191B,#1A1A1A); 
 display: block;
}

.main-content {
    color: #FFFFFF;
    margin-left: 80px;
    transition: margin-left 0.3s ease;
}

#imagem{
width: 80%;
height: 180px;
    margin: 20px auto; 
    border-radius: 12px;
    
    transition: width 0.3s ease, height 0.3s ease;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    background: linear-gradient(135deg, #AE171C,#64191B,#1A1A1A);
    position: fixed;
    box-shadow: 0 8px 16px rgba(0,0,0,1);
    top: 0;
    left: 0;
    z-index: 1000;
    width: 200px;
    transition: width 0.3s ease;
}

#side_itens{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item{
border-radius: 8px;
padding: 18px;
cursor: pointer;
}

.item:hover{
    background-color: #CE1A20;
}

.item a{
text-decoration: none;
display: flex;
align-items: center;
justify-content: left;
color: #FFFFFF;
gap: 8px;
font-size: 24px;
}

.item a i{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 8px;
}

#logout{
    border-top: 1px solid #c0c0c0;
    padding: 0px;
    padding-left: 0;
    padding-right: 0;
}

#logout_bt{
    border: none;
    padding: 12px;
    font-size: 24px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: #c0c0c0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

#logout_bt:hover{
   background-color: #CE1A20; 
}

#logout .item-description{
    color: #c0c0c0;
}

#open{
position: absolute;
top: 30px;
right: -20px;
background-color: transparent;
color: #FFFFFF;
border: none;
font-size: 20px;
border-radius: 100%;
cursor: pointer;
}

#open_icon {
    transition: transform 0.3s ease;
    transform: rotate(180deg); 
}

.sidebar.closed #open_icon {
    transform: rotate(0deg);
}

.sidebar.closed {
    width: 80px; 
}


.sidebar.closed #imagem {
    width: 100%; 
    height: 80px; 
}



.sidebar.closed .item-description{
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}

.sidebar.closed .item a {
    justify-content: center;
}

.sidebar.closed #logout_bt {
    justify-content: center;
    gap: 0;
}

.main-content{
    color: #FFFFFF;
    padding: auto;
    padding-left: 20px;
}

@media (max-width: 767px) 
{
    .main-content {
        margin-left: 0;
        padding: 20px; 
    }

   .sidebar {
        position: fixed; 
        left: 0;
        top: 0;
        width: 180px; 
        transform: translateX(0); 
        transition: transform 0.3s ease-in-out; 
    }

  
    .sidebar.closed {
        width: 280px; 
        transform: translateX(-100%); 
    }



#imagem{
    width: auto;
    margin: auto;
    padding: auto;
}

.item a{
    font-size: 20px;
    white-space: nowrap;
}
#logout_bt{
    font-size: 20px;
}
 

}


