<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../../public/css/modalEditarPost.css">
    <title>Document</title>
</head>
<body>
    <button id="abrir-modal-btn" >
        <i class="bi bi-pen"></i>
    </button>

    <div class="modal-overlay hidden" id="modalEditarPost">
        <section class="container"> 
        <div class="ladoEsquerdo">
        <div id="imgPost">
        <img src="../../../public/assets/fotoPost.jpg" alt="#">
        </div>
        <p id="idPost">#0000000</p>

        <div class="info-post">
        <i class="bi bi-hand-thumbs-up-fill">47</i>
        <i class="bi bi-hand-thumbs-down-fill">8</i>
        <i class="bi bi-chat-fill">12</i>
        </div>

        <img id="img-rato" src="../../../public/assets/ratao-editor.png" alt="">
        </div>


        <div class="ladoDireito">
        <h2>Autor</h2>
        <div class="caixas-input">
        <input class="inputs" type="text">
        <h2>Titulo</h2>
        <input class="inputs" type="text">
        <h2>Descrição</h2>
        <textarea class="inputs" id="inputDesc" type="text" autocomplete="off"></textarea>
        <p id="dataPost">05/11/2025</p>
        </div>
        

        <div class="buttons">
        <button id="btn-cancelar">Cancelar</button>
        <button id="btn-salvar">Salvar</button>
        </div>
        </div>
        </section>
    </div>

    <script src="../../../public/js/Modal.js"></script>
</body>
</html>