<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../../public/css/modalEditarUsuario.css">
</head>
<body>
    <div class="editarUsuario">
        <section id="container">
            <img src="../../../public/assets/ratao-stop.png" alt="Foto perfil Usuario">
            <h2>Usuario</h2>
            <input class="inputs" type="text">
            <h2>Email</h2>
            <input class="inputs" type="email">
            <h2>Senha</h2>
            <input class="inputs" type="password">
            <h2>Repita a senha</h2>
            <input class="inputs" type="password">

            <div class="buttons">
            <button id="btnSalvar">Salvar</button>
            <button id="btnCancelar">Cancelar</button>
            </div>
        </section>
    </div>
</body>
</html>