<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Posts - Admin</title>
    <link rel="stylesheet" href="/public/css/modalVerComentarios.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

    <section class="admin-panel">
        
        <main class="posts-content">
            <table class="tabela">

                <tr class="posts-table-header">
                    <th class="header-col">Usuário</th>
                    <th class="header-col">Data</th>
                    <th class="header-col" id="header-titulo">Comentários</th>
                    <th class="header-col" id="header-autor">ID</th>
                    <th class="header-col">Ações</th>
                </tr>

                <tr class="post-item">
                    <td class="post-data post-id" data-label="Post ID"><img src="../../../public/assets/ICONE USUARIO.png" alt=""></td>
                    <td class="post-data post-date" data-label="Data">15/04/2025</td>
                    <td class="post-data post-title" data-label="Título">Achei top, mas deixaria o motor aspirado</td>
                    <td class="post-data post-date" data-label="Autor">#0000</td>
                    <td class="post-data post-actions" data-label="Ações">
                       
                        <button class="action-btn delete"><i class="fas fa-trash"></i></button>
                        <button class="action-btn edit"><i class="fas fa-pencil-alt"></i></button>
                    </td>
                </tr>

                <tr class="post-item">
                    <td class="post-data post-id" data-label="Post ID"><img src="../../../public/assets/ICONE USUARIO.png" alt=""></td>
                    <td class="post-data post-date" data-label="Data">15/04/2025</td>
                    <td class="post-data post-title" data-label="Título">O barulho da turbina ficou massa</td>
                    <td class="post-data post-date" data-label="Autor">#1111</td>
                    <td class="post-data post-actions" data-label="Ações">
                        
                        <button class="action-btn delete"><i class="fas fa-trash"></i></button>
                        <button class="action-btn edit"><i class="fas fa-pencil-alt"></i></button>
                    </td>
                </tr>

                <tr class="post-item">
                    <td class="post-data post-id" data-label="Post ID"><img src="../../../public/assets/ICONE USUARIO.png" alt=""></td>
                    <td class="post-data post-date" data-label="Data">15/04/2025</td>
                    <td class="post-data post-title" data-label="Título">Meu UNO com escada ganharia desse astra fácil</td>
                    <td class="post-data post-date" data-label="Autor">#2222</td>
                    <td class="post-data post-actions" data-label="Ações">
                        
                        <button class="action-btn delete"><i class="fas fa-trash"></i></button>
                        <button class="action-btn edit"><i class="fas fa-pencil-alt"></i></button>
                    </td>
                </tr>

                <tr class="post-item">
                    <td class="post-data post-id" data-label="Post ID"><img src="../../../public/assets/ICONE USUARIO.png" alt=""></td>
                    <td class="post-data post-date" data-label="Data">15/04/2025</td>
                    <td class="post-data post-title" data-label="Título">Já tive um desse</td>
                    <td class="post-data post-date" data-label="Autor">#3333</td>
                    <td class="post-data post-actions" data-label="Ações">
                        
                        <button class="action-btn delete"><i class="fas fa-trash"></i></button>
                        <button class="action-btn edit"><i class="fas fa-pencil-alt"></i></button>
                    </td>
                </tr>

            </table>
        </main>

     
    <script src="/public\js\PostChart.js"></script>
</body>

</html>