<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Posts - Admin</title>
    <link rel="stylesheet" href="/public/css/PostChart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

    <div class="admin-panel">
        <header class="main-header">
            <h1>TABELA DE POSTS</h1>
        </header>

        <div class="toolbar">
            <div class="search-container">
                <i class="fas fa-search search-icon"></i>
                <input type="text" class="search-bar" placeholder="">
            </div>
            <div class="actions-container">
                <button class="new-post-btn">
                    <i class="fas fa-plus-circle"></i> <span>Nova Publicação</span>
                </button>
                <button class="menu-btn">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </div>

    

        <main class="posts-content">

            <table class="tabela">

                <tr class="posts-table-header">
                    <th class="header-col">Post ID</th>
                    <th class="header-col">Data</th>
                    <th class="header-col" id="header-titulo">Título</th> <!--style="flex: 2; tem q ta no css" -->
                    <th class="header-col" id="header-autor">Autor</th>
                    <th class="header-col" id="header-interacao">Views/Curtidas/Comentários</th>
                    <th class="header-col">Ações</th>

                </tr>

                <tr class="post-item">
                    <td class="post-data post-id" data-label="Post ID">#000</td>
                    <td class="post-data post-date" data-label="Data">15/04/2025</td>
                    <td class="post-data post-title" data-label="Título">grande mickas</td>
                    <td class="post-data post-date" data-label="Autor">Yuri</td>
                    <td class="post-data post-stats" data-label="Views/Curtidas/Comentários">
                        <span class="stat">270 <i class="fas fa-eye"></i></span>
                        <span class="stat">100 <i class="fas fa-thumbs-up"></i></span>
                        <span class="stat">250 <i class="fas fa-comments"></i></span>
                    </td>
                        
                    <td class="post-data post-actions" data-label="Ações">
                        <button class="action-btn view"><i class="fas fa-eye"></i></button>
                        <button class="action-btn delete"><i class="fas fa-trash"></i></button>
                        <button class="action-btn edit"><i class="fas fa-pencil-alt"></i></button>
                    </td>
                </tr>


            </table>


        </main>

        <nav class="pagination">
            <a href="#" class="arrow prev"><i class="fas fa-chevron-left"></i></a>
            <a href="#" class="page-number active">1</a>
            <a href="#" class="page-number">2</a>
            <a href="#" class="page-number">3</a>
            <a href="#" class="page-number">4</a>
            <a href="#" class="page-number">5</a>
            <a href="#" class="arrow next"><i class="fas fa-chevron-right"></i></a>
        </nav>
    </div>







    <script src="/public\js\PostChart.js"></script>
</body>

</html>