<!DOCTYPE html>
<html lang="pt-br">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../../../public/css/footer.css">


  <title>Footer</title>

</head>
<body>

  <div id="footer_container">
      <div id="primary_footer">



<!-- ----------- Redes Sociais ---------------- -->
    
          <div id="footer_social_media" class="tale">
              <h2>Redes Sociais</h2>
              <div class="social-icons">
                  <a href="#" class="footer-link">
                      <i class="fa-solid fa-phone"></i>
                  </a>
                  <a href="#" class="footer-link">
                      <i class="fa-solid fa-envelope"></i>
                  </a>
                  <a href="#" class="footer-link">
                      <i class="fa-brands fa-facebook"></i>
                  </a>
                  <a href="#" class="footer-link">
                      <i class="fa-brands fa-whatsapp"></i>
                  </a>
                  <a href="#" class="footer-link">
                      <i class="fa-brands fa-instagram"></i>
                  </a>
              </div>
          </div>

<!-- ------------------------------------------ -->
<!-- /////////////////////////////////////////// -->
<!-- ----------Foto da logo------------------- -->   

          <div id="footer_logo">
              <img src="../../../public/assets/Logo-rato-footer.png" alt="Logo Rastros de Pista">
          </div>

<!-- ------------------------------------------ -->
<!-- /////////////////////////////////////////// -->
<!-- -------Foto da Code Jr------------------ -->

          <div id="footer_code_jr">
              <h4>Code Jr</h4>
              <img src="../../../public/assets/code-logo.png" alt="Logo Code Jr">
          </div>
      </div>
      
<!-- ------------------------------------------ -->
 

<!-- ///////////  FOOTER INFERIOR  //////////// -->




      <footer id="secondary_footer">
          <div id="footer_content">


 <!-- ------------Site Map--------------------- -->  

              <ul class="footer-list">
                  <li><h3>Site Map</h3></li>
                  <li><a href="#" class="footer-link">Site Map 1</a></li>
                  <li><a href="#" class="footer-link">Site Map 2</a></li>
                  <li><a href="#" class="footer-link">Site Map 3</a></li>
                  <li><a href="#" class="footer-link">Site Map 4</a></li>
                  <li><a href="#" class="footer-link">Site Map 5</a></li>
              </ul>

 <!-- ------------------------------------------ -->            
<!-- /////////////////////////////////////////// -->
 <!-- ------------ Visão ----------------------- -->  

              <ul class="footer-list">
                  <li><h3>Visão</h3></li>
              </ul>

<!-- ------------------------------------------ -->
<!-- /////////////////////////////////////////// -->
<!-- ------------- Missão --------------------- --> 
 
              <ul class="footer-list">
                  <li><h3>Missão</h3></li>
              </ul>

<!-- ------------------------------------------ -->
<!-- /////////////////////////////////////////// -->
<!-- ------------ Valores --------------------- -->

              <ul class="footer-list">
                  <li><h3>Valores</h3></li>
              </ul>
          </div>

<!-- ------------------------------------------ -->  
<!-- /////////////////////////////////////////// -->
<!-- ------------Política de Privacidade------- -->

          <div id="footer_bottom">
              <p>Política de Privacidade</p>

<!-- ------------------------------------------ -->


          </div>
      </footer>
  </div>
  
  <script src="../../../public/js/index.js"></script>
  </body>
</html>
