<!DOCTYPE html>
<html lang="pt-br">


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../../public/css/Pagina_Individual.css">
    <link rel="stylesheet" href="../../../public/css/modalComentar.css">
    <title>Post Individual</title>

</head>




<body>







    <main class="ContainerPostagem">


        <div class="Cabecalho">
            <button class="BotaoVoltar"><i class="fa-solid fa-arrow-left"></i></button>
            <div class="IconeContainer">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="InfoUsuario">
                <h2 class="NomeUsuario">Nome de Usuário</h2>
                <p class="DataPostagem">12/04/2025</p>
            </div>
        </div>





        <div class="Postagem">
            <h1 class="TituloPostagem">Título do Post que o usuário escolher, título do Post que o usuário escolher</h1>
            <img src="../../../public/assets/fotoPost.jpg" alt="Imagem da Postagem" class="ImagemPostagem">
            <p class="ConteudoPostagem">
                Dependendo do tamanho do texto, os botões abaixo não estão em posições diferentes, dependendo da altura, juntamente dos comentários do post. O post poderá ter apenas texto ou uma imagem junta dele.
            </p>
        </div>



        <div class="ContainerBotoes">
            <div class="Interacoes">
                <button><i class="fa-regular fa-thumbs-up"></i></button>
                <button><i class="fa-regular fa-thumbs-down"></i></button>
                <button onclick="abrirModal('modal-comentar')"><i class="fa-regular fa-comment"></i></button>
                <button><i class="fa-solid fa-share"></i></button>
            </div>
        </div>


    </main>




    <!-- COMENTÁRIOS -->


<section class="SecaoComentarios">
    <h2 class="TituloSecao">Comentários</h2>

    <div class="Comentario">
        <div class="CabecalhoComentario">
            <div class="IconeContainer">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="InfoUsuarioComentario">
                <span class="NomeUsuarioComentario">Nome de Usuário</span>
                <span class="DataComentario">12/04/2025</span>
            </div>
        </div>
        <p class="TextoComentario">
            Exemplo Exemplo Exemplo Exemplo Exemplo Exemplo Exemplo Exemplo Exemplo Exemplo
            Exemplo Exemplo Exemplo Exemplo Exemplo Exemplo Exemplo Exemplo Exemplo Exemplo
            Exemplo Exemplo Exemplo Exemplo Exemplo Exemplo
        </p>
        <div class="InteracoesComentario">
            <button><i class="fa-regular fa-thumbs-up"></i></button>
            <button><i class="fa-regular fa-thumbs-down"></i></button>
        </div>
    </div>

    </div>

</section>



    <!-- COMENTAR -->

    <div class="modal-overlay hidden" id="modal-comentar">
        <section class="container">
            <div class="ladoEsquerdo">
                <div id="imgPost">
                    <img src="../../../public/assets/imagemCarrinho.jpg" alt="Foto do usuário">
                </div>
            </div>

            <div class="ladoDireito">
                <h2>Comente</h2>
                <form class="caixas-input">
                    <input required class="inputs" type="text" placeholder="Digite seu comentário aqui...">
                </form>

                <div class="buttons">
                    <button onclick="fecharModal('modal-comentar')" id="btn-cancelar">Cancelar</button>
                    <button id="btn-salvar">Enviar</button>
                </div>
            </div>
        </section>
    </div>

 <script src="../../../public/js/Modal.js"></script>




</body>

</html>