<!DOCTYPE html>
<html lang="pt-br">




<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../../../public/css/PaginaIndividual.css">


  <title>Post Individual</title>

</head>


<body>





<!-- Fundo do Post -->

<div class="QuadradoPostagem">



    <!-- Fundo Botões -->

    <div class="QuadradoBotao"></div>


    

    <!-- Informações do Usuário -->



    <div class="Cabecalho"> 

        <div class="InfoUsuario">

            <img src="../../../public/img/usuario.png" alt="Foto de Perfil" class="FotoPerfil">
            <h2 class="NomeUsuario">Nome do Usuário</h2>
            <p class="DataPostagem">Data da Postagem</p>
            <button claass="Voltar"><i class="fa-solid fa-share"></i></button>

         </div>
    
    </div>
    

    <!-- Postagem -->

    <div class="Postagem">

        <h1 class="TituloPostagem">Título da Postagem</h1>
        <img src="../../../public/img/postagem.jpg" alt="Imagem da Postagem" class="ImagemPostagem">  

        <p class="ConteudoPostagem">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam odio et faucibus. 
            Nulla rhoncus feugiat eros quis consectetur. Morbi neque ex, condimentum dapibus congue et, vulputate ut ligula. 
            Vestibulum sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt. 
            Duis euismod quam vel quam porttitor, a convallis nulla facilisis. 
            Donec in velit vel ipsum auctor pulvinar. Proin ullamcorper urna et felis.
        </p>
        
    </div>  



    <!-- Interações -->

    <div class="Interacoes">

        <button class="BTLike"><i class="fa-regular fa-thumbs-up"></i> Gostei</button>
        <button class="BTDeslike"><i class="fa-regular fa-thumbs-up"></i> Não Gostei</button>    
        <button class="BTComentar"><i class="fa-regular fa-comment"></i> Comentar</button>
        <button class="BTCompartilhar"><i class="fa-solid fa-share"></i> Compartilhar</button>  
        

    </div>

</div>










</body>