<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Rastros de Pista | Posts</title>

  <link rel="stylesheet" href="/public/css/styles.css" />
</head>
<body>
  
  <div id="page-container">
        <search class="search-section">
      <form class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Buscar">
      </form>
    </search>

    <main class="posts-grid">
      <article class="card">
        <img src="/public\assets\Ford-Mustang-GT.jpg" alt="Carro 1">
        <h3>Lorem ipsum</h3>
        <p>Lorem ipsum is placeholder text commonly used in the graphic...</p>
      </article>

      <article class="card">
        <img src="/public\assets\Lambo-Urus.jpg" alt="Carro 2">
        <h3>Lorem ipsum</h3>
        <p>Lorem ipsum is placeholder text commonly used in the graphic...</p>
      </article>

      <article class="card">
        <img src="/public\assets\Nissan-Skyline.jpg" alt="Carro 3">
        <h3>Lorem ipsum</h3>
        <p>Lorem ipsum is placeholder text commonly used in the graphic...</p>
      </article>

      <article class="card">
        <img src="/public\assets\Lamborguini-Huracan.jpg" alt="Carro 4">
        <h3>Lorem ipsum</h3>
        <p>Lorem ipsum is placeholder text commonly used in the graphic...</p>
      </article>

      <article class="card">
        <img src="/public\assets\Audi-R8.jpg" alt="Carro 5">
        <h3>Lorem ipsum</h3>
        <p>Lorem ipsum is placeholder text commonly used in the graphic...</p>
      </article>

      <article class="card">
        <img src="/public\assets\Maverick.jpg" alt="Carro 6">
        <h3>Lorem ipsum</h3>
        <p>Lorem ipsum is placeholder text commonly used in the graphic...</p>
      </article>
    </main>

    <nav class="pagination">
      <a href="#" class="arrow">&lt;</a>
      <a href="#" class="active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#" class="arrow">&gt;</a>
    </nav>
 </div>

  <script src="/public\js\index.js"></script>
</body>
</html>